[project]
	description = New Flask WebApp version of the Keble Ball Ticketing System
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Samuel Littley (toastwaffle)
[access "refs/for/refs/*"]
	read = group keble_ball_team
	read = group user/Samuel Littley (toastwaffle)
	push = group keble_ball_team
	push = group user/Samuel Littley (toastwaffle)
	label-Code-Review = -2..+2 group user/Samuel Littley (toastwaffle)
	label-Code-Review = -1..+1 group keble_ball_team
	label-Verified = -1..+1 group user/Samuel Littley (toastwaffle)
	rebase = group user/Samuel Littley (toastwaffle)
	removeReviewer = group user/Samuel Littley (toastwaffle)
	submit = group user/Samuel Littley (toastwaffle)
[access "refs/heads/*"]
	read = group user/Samuel Littley (toastwaffle)
	create = group user/Samuel Littley (toastwaffle)
	push = +force group user/Samuel Littley (toastwaffle)
	pushMerge = group user/Samuel Littley (toastwaffle)
[access "refs/tags/*"]
	push = +force group user/Samuel Littley (toastwaffle)
	pushTag = group user/Samuel Littley (toastwaffle)
	pushSignedTag = group user/Samuel Littley (toastwaffle)
[receive]
	requireChangeId = true
	createNewChangeForAllNotInTarget = true
[submit]
	action = rebase if necessary
	mergeContent = true
[access "refs/heads/lint"]
	push = group keble_ball_team
