<!-- front/terms.html -->
{% extends 'layout.html' %}

{% block title %}Frequently Asked Questions{% endblock %}

{% block content %}
    <section id="terms" class="columns">
        <p>Last Updated 8th September 2019</p>

        <h4>Account Registration</h4>

        <ul>
            <li><strong>Alumni Release opens at noon Tuesday 15 October 2019.</strong></li>
            <li><strong>Student Release opens at noon on Thursday 31 October 2019.</strong></li>
        </ul>

        <h4>Ticket payment</h4>

        <ul>
            <li>
                <strong>Tickets must be paid for within 24 hours.</strong>
                <ul>
                    <li>If tickets are not paid for within 24 hours, they will expire and be allocated to the next person on the waiting list.</li>
                    <li>If your tickets expire due to non-payment, we will be unable to re-allocate tickets to you.</li>
                </ul>
            </li>
            <li>
                Tickets may be paid for by credit/debit card, or, if you are a current Keble student, by Battels.
                <ul>
                    <li>We do not support payment by American Express (Amex) cards.</li>
                </ul>
            </li>
                    <li>If your ticket is not marked as paid, please contact <a href="{{ template_config['TICKETS_EMAIL_LINK'] }}">the ticketing officer</a> as soon as possible with proof of purchase.</li>
                </ul>
            </li>
        </ul>

<!--

        <h4>Group Purchase</h4>

        <ul>
            <li>
                Registered account holders may form a purchase group, which allows the group members' ticket allowances to be pooled.
                <ul>
                    <li>To create a purchase group, follow <a href="{{ url_for('group_purchase.dashboard') }}">this link.</a></li>
                </ul>
            </li>
            <li>
                The leader of a group (the person who created the group) will be a given a code that can be used by others to join the group.
                <ul>
                    <li>A group may have at most {{ template_config['MAX_GROUP_MEMBERS']}} members, including the group leader.</li>
                </ul>
            </li>
            <li>The group leader is responsible for returning to the ticketing system shortly before general release begins and attempting to reserve tickets for the group.</li>
            <li>If successful, the tickets for the group will be assigned to each member of the group as requested.</li>
            <li>It is the responsibility of each member of the group to pay for their ticket.</li>
            <li>If one member of a group does not pay for their ticket in the {{ format_timedelta(template_config['TICKET_EXPIRY_TIME']) }} period, only their ticket will expire, the rest of the group’s tickets (providing they are paid for) will still be valid.</li>
        </ul>
-->

        <h4>Waiting List</h4>

        <ul>
            <li>If you are unable to purchase tickets during the general release, you have the option to join the waiting list.</li>
            <li>If extra tickets are released, or if other users cancel their tickets, the extra availability will be allocated to people on the waiting list.</li>
            <li>
                Tickets will only be allocated in the blocks in which they are requested.
                <ul>
                    <li>If you join the waiting list for 4 tickets, you will not be allocated tickets until there are 4 tickets available.</li>
                </ul>
            </li>
        </ul>

        <h4>Cancellations, Refunds and Resales</h4>

        <ul>
            <li>Refunds of tickets purchased by card will only be offered in exceptional circumstances, up until 21 April 2020 and will incur an admin fee of &pound;10 per ticket. Refunds of tickets on and after 22 April 2020 will incur an admin fee of &pound;20 per tickt. No ticket will be refunded after 1 May 2020.</li>
            <li>Refunds of tickets purchased through Battles will only be offered until the end of Hilary term.</li>
            <li>Tickets may not be resold under any circumstances.</li>
            <li>Any tickets found to have been resold will be cancelled, and both the seller and purchaser will be refused entry to the ball.</li>
        </ul>

        <h4>Guests</h4>

        <ul>
            <li>Each alumnus can purchase up to 10 tickets.</li>
            <li>All guests are permitted to attend the Ball provided that they are over the age of 18 years old on or after 27 June 2020.</li>
            <li>Each guest who has had a ticket purchased on their behalf will have to register their own account on the Keble Ball website by 1 May 2020. They can then clain their ticket using the unique ticket claim code shared by the ticket purchaser.</li>
        </ul>

        <h4>Tickets & Account Photo</h4>

        <ul>
	        <li>Once you have purchased your ticket, you are entirely responsible for it. You may not share the QR Code related to your ticket.</li>
            <li>Once you are handed your wristband, you are entirely responsible for it.
                <ul>
                    <li>Keble Ball will not be able to replace or refund any lost, stolen or damaged wristbands.</li>
                </ul>
            </li>
            <li>Your account must have an identifiable photo of yourself for security purposes.
                <ul>
                    <li>If your photo is not currently an identifiable headshot it must be changed. This can be done <a href="{{ url_for('dashboard.profile') }}">here</a>.</li>
                    <li>An identifiable headshot must be uploaded before you buy your ticket.</li>
                    <li>Any changes to your photo after that will be subject to an administration charge.</li>
                </ul>
            </li>
            <li>Keble Ball reserves the right to refuse you entrance at the gate if your account photo is not easily identifiable as you.</li>
            <!--<li>-->
                <!--Immediately after collection, or upon receipt of posted wristbands, you should check that you have the correct wristbands and that they are in good condition. Any mistakes can not be rectified at a later date.-->
                <!--<ul>-->
                    <!--<li>If there is an issue with wristbands given to you at a collection point, you should talk to the members of Keble Ball staff present.</li>-->
                    <!--<li>If there is an issue with wristbands which have been posted to you, you should contact <a href="{{ template_config['TICKETS_EMAIL_LINK'] }}">the ticketing officer</a> as soon as possible after receipt.</li>-->
                <!--</ul>-->
            <!--</li>-->
            <!--<li>-->
                <!--There will be three ticket collections preceding the Ball:-->
                <!--<ul>-->
                    <!--<li>Wednesday 4th May 7pm - 9pm</li>-->
                    <!--<li>Thursday 5th May 7pm - 9pm</li>-->
                    <!--<li>Friday 6th May 7pm - 9pm</li>-->
                <!--</ul>-->
            <!--</li>-->
            <!--<li>-->
                <!--If you cannot attend any of these collections times, you will have to pay to have your tickets posted to you.-->
                <!--<ul>-->
                    <!--<li>If you are a Keble Graduand with your Degree Day on 07/05/2017, your tickets will be included in your Graduation Packs.</li>-->
                <!--</ul>-->
            <!--</li>-->
            <li>
                Valid photo ID must be presented when asked for at the gate.
                <ul>
                    <li>Examples of valid ID includes University ID Cards (Bod Cards), driving licenses, passports etc.</li>
                    <li>Keble Ball reserves the right to refuse you entrance if you cannot present valid ID.</li>
                </ul>
            </li>
            <!--<li>If you have purchased tickets for yourself as well as guests, you (the ticket owner) are eligible to collect all the tickets you ordered and paid for.</li>-->
            <!--<li>-->
                <!--If you purchased tickets in a group, each group member must collect the tickets they requested and paid for.-->
                <!--<ul>-->
                    <!--<li>The group leader is not permitted to collect tickets on behalf of the entire group</li>-->
                <!--</ul>-->
            <!--</li>-->
            <!--<li>If you are the named guest of a ticket owner, you (the ticket holder) are eligible to collect only the ticket that is in your name.</li>-->
        </ul>

        <!--<h4>Postage</h4>-->

        <!--<ul>-->
            <!--<li>Keble Ball offers postage services this year; both 1st Class and 2nd Class (non-recorded) delivery is available.</li>-->
            <!--<li>Ticket holders will be able to purchase postage after purchasing their tickets in the coming weeks, should they discover that they can no longer attend a collection time).</li>-->
            <!--<li>Tickets will be posted on Wednesday 27th April.</li>-->
            <!--<li>-->
                <!--After receipt of your tickets/wristbands you are responsible for their safekeeping-->
                <!--<ul>-->
                    <!--<li>Keble Ball will not be able to replace or refund any lost, stolen or damaged wristbands.</li>-->
                    <!--<li>If there is an issue with wristbands which have been posted to you, you should contact <a href="{{ template_config['TICKETS_EMAIL_LINK'] }}">the ticketing officer</a> as soon as possible after receipt.</li>-->
                <!--</ul>-->
            <!--</li>-->
            <!--<li>If you have not received a ticket due to be posted to you by Wednesday 4th May, please contact <a href="{{ template_config['TICKETS_EMAIL_LINK'] }}">the ticketing officer</a>.</li>-->
        <!--</ul>-->

        <h4>On the night</h4>

        <ul>
            <li>You will need to arrive before 9pm, when gates close.</li>
            <li>A strict no re-admittance policy will be operating on the night of the Ball, so please bring jackets and flat shoes with you.</li>
            <li>Wristbands must be worn at all times during the Ball.
                <ul>
                    <li>Failure to wear your wristband will result in you being removed from the Ball.</li>
                </ul>
            </li>
            <li>
                You must present your wristband for inspection when asked by any member of security staff or the Keble Ball Committee.
                <ul>
                    <li>Failure to present your wristband when asked will result in you being removed from the Ball.</li>
                </ul>
            </li>
            <!--<li>Valid ID is not required on the night but is strongly recommended.</li>-->
        </ul>
    </section>
{% endblock %}
